.caupons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 150px;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.301);
}
.caupon-20 {
  grid-column: 1 / 2;
  display: flex;
}
.caupon-10 {
  grid-column: 2/4;
  display: flex;
}
.caupon-10 > img {
  width: 30%;
}
.caupon-20 > img {
  width: 50%;
}
.caupon-20 > p {
  width: 50%;
  font-size: 2em;
}
.caupon-10 > p {
  width: 70%;
  font-size: 2em;
}
span {
  color: rgb(206, 130, 143);
}
