.address-nav {
  display: flex;
  justify-content: space-evenly;
}
.address-nav p {
  display: inline;
  margin-left: 1rem;
  align-self: center;
}
.address-nav a {
  color: black !important;
}

@media screen and (max-width: 450px) {
  .address-nav {
    flex-direction: column;
  }
}
