.hero-bg {
  display: flex;
  align-items: center;
  background-image: url(../../../../public/assest/img/shopbg.png);
  background-size: cover;
  background-color: black;
  height: 88vh;
  opacity: 0.77;
}
.home-title {
  color: var(--primary);
  width: 40%;
  background-color: rgba(0, 0, 0, 0.205);
}
