.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 3% auto;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.301);
}
.checkout-form {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
  width: 40%;
  padding: 1rem;
}
.checkout-form > input {
  padding: 0.5rem;
}
.order-summary {
  line-height: 3.3;
  background-image: linear-gradient(rgb(206, 130, 143), var(--nav_color));
  color: var(--primary);
  text-align: center;
  width: 50%;
  padding: 4rem;
}
.order-summary > img {
  width: 20%;
}
.date-summary {
  line-height: 1.5 !important;
  background: var(--primary);
  color: black;
  border-radius: 10px;
}
.checkout {
  margin-top: 1rem;
  width: 60% !important;
  align-self: center;
}
.caupon-error {
  line-height: 0 !important;
  font-size: 0.8;
  color: red;
}
.apply {
  padding: 0.5rem;
  width: 20%;
  margin-left: 1rem;
}
.apply:hover {
  background-image: linear-gradient(rgb(206, 130, 143), var(--nav_color));
  color: var(--primary);
}
.checkout-success {
  margin: 5% auto 30% auto;
  width: 50%;
  text-align: center;
  background-image: linear-gradient(rgb(206, 130, 143), var(--nav_color));
  color: var(--primary);
  font-size: 1.5rem;
}
.checkout-success > img {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 950px) {
  .checkout-container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }
  .order-summary {
    width: 100%;
    padding: 0rem;
  }
  .checkout {
    width: 100% !important;
  }
  .checkout-form {
    width: 70%;
  }
  .payment-method {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  .checkout-success {
    font-size: 1.2rem;
    margin: 30% auto;
    width: 100%;
    padding: 0rem;
  }
  .caupon-error {
    font-size: 0.6em;
  }
  .checkout-form > h1 {
    font-size: 1.5em;
  }
}
