.register-Form {
  background-image: linear-gradient(var(--primary), var(--nav_color));
  width: 50%;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  box-shadow: 0 4px 8px 0 var(--nav_color);
}
.register-Form > p {
  margin: 1.2rem 0%;
  width: 50%;
}
.register-form_Fields {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.register-form_Fields > input {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.register-form_btn {
  width: 30%;
  padding: 0.5rem;
  align-self: center;
  margin-bottom: 1rem;
  font-size: 1.1em;
}
.register-form_btn:hover {
  background-color: var(--nav_color);
  color: var(--primary);
}
