.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--nav_color);
  color: white;
}
.footer h4 {
  font-size: 1.3em;
  margin-bottom: 1rem;
}
.footer p {
  display: inline;
  margin-left: 1rem;
  align-self: center;
}
.footer li {
  margin-bottom: 1rem;
}
.icons-footer {
  display: flex;
  font-size: 1.3em;
  justify-content: space-evenly;
}

.copyright {
  text-align: center;
}
