.img-slider {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  height: 60vh;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(128, 0, 128, 0.301);
  border-radius: 10px;
  padding: 1rem;
}
.img-slider > img {
  width: 50%;
  height: 55vh;
  align-self: center;
}
.new-arrival h3 {
  text-align: center;
  color: rgb(206, 130, 143);
  margin-top: 1rem;
}
.slider-btn {
  background-image: linear-gradient(rgb(206, 130, 143), var(--nav_color));
  color: var(--primary);
}

@media screen and (max-width: 850px) {
  .img-slider > img {
    width: 90%;
  }
}
